nav{
  background-image: url(/IMG/HEADER/headerbackground.png);
  background-repeat: no-repeat;
  position: fixed;
  z-index: 999;

}
#navbarNav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse {
  background-image: none !important;
  margin-top: 0px; /* Adjust this value to your desired margin */
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo na horizontal */
  align-items: center; /* Centraliza o conteúdo na vertical */
  height: 80px; /* Altura do header */
  background-color: rgba(0, 0, 0, 0.8); /* Cor de fundo */
  position: fixed;
  width: 100%; /* Garante que ocupe toda a largura da tela */
  z-index: 999;
}
nav a{
  font-size: 1.5rem;
  margin-bottom: 2rem;

}

.close-menu {
  display: none; /* Esconde o botão na versão desktop */
}






 
h1 {
  font-size: 2.5rem; /* 40px */
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

h2 {
  font-size: 2rem; /* 32px */
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 1.75rem; /* 28px */
}

h4 {
  font-size: 1.5rem; /* 24px */
}

h5 {
  font-size: 1.25rem; /* 20px */

  
  
}

h6 {
  font-size: 1rem; /* 16px */
}

p {
  font-size: 1rem; /* 16px */
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}







  .section1 {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('/IMG/pagina2/section1/background.png');
    background-size: cover;
    background-repeat: no-repeat;

  }
  #card-p2{
    height: 150vh;

  }

  .section1 .container {
    height: 100vh;
 color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Serif Display", sans-serif;

  }
  #card-p1{
    max-width: 80%;
     background-image: url(/IMG/pagina2/section1/backgroundcard.png);
     background-size: cover;
     background-repeat: no-repeat;
      height: 20vh;
      display: flex;
      align-self: flex-end;
      position: relative;
      top: 60%;
      box-shadow: -20px 15px 0px rgb(255, 184, 30); 
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
      
  }
.section1 h1{

    position: relative;
    top: 40%;
    text-shadow: 0px 5px 10px rgba(0, 0, 0,0.9);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.section1 p{

  position: relative;
  top: 40%;
  text-shadow: 0px 5px 10px rgba(0, 0, 0,0.9);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.section1 h1{
    position: relative;
    top: 40%;
    
}
  .card-container {
    max-width: 80%;
    margin: 0 auto;
    align-self: flex-end;
    background-color: blue;
  }
  .card {
    height: 30vh;
  }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  .section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-height: 120vh;
  }
 
  
  .circle {
    background-color: aqua;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50%;
    z-index: -1;
    filter: drop-shadow(0px 0px 30px rgba(0,0,0, 0.4));
  }

  
 
  .circle-p1{
    background-image: url(/IMG/pagina2/section2/img2\ 278x724.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .circle-p2{
    background-image: url(/IMG/pagina2/section2/quartocard.png);
    background-size:cover;
    background-repeat:no-repeat;
  }

  .card {
    width: 80%;
  /* Cor de fundo cinza */
    border: none;
    margin-bottom: 25%;
  }

  .list-group-item{
    background-color: #e0e0e0;
  }
 .list-group li{
    background-color: #e0e0e0;
 }
    

 .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#e0e0e0;
  }

  .list-group-item {
    background-color: transparent; /* Remover fundo padrão */
    border: none; /* Remover borda padrão */
    word-wrap: break-word;
    padding-left: 0; /* Remover padding padrão */
  }

  .list-group-item::marker {
    content: '• '; /* Adicionar ponto antes do texto */
    font-size: 1.2em; /* Ajustar tamanho do ponto */
    color: #000; /* Cor do ponto */
  }




 
  footer p{
    font-size: 1rem;
    position: relative;
    top: 0%; 
     text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
  }

  
  footer{
    background-color:#e28800;
    margin-top: 10%;
   
  }
  .icon-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px; /* 50% fora do footer */
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); /* Opcional: sombra para destacar */
  
    z-index:999;
  }
  
  .video-circle {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para garantir que o vídeo cubra todo o círculo */
  }

  
@media (min-width: 1400px){
   
    h1 {
        font-size: 10vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
  
    p {
        font-size: 6vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
    
    h1{
        font-size: 8rem;
    }
    
    #card-p1{
        height: 15vh;
    
      }

      
      
      .circle {
        background-color: aqua;
        border-radius: 50%;
        width: 35vh;
        height: 35vh;
        position: relative;
        top: -30%;
       
      }


    .section1 .container .display-4,   .section1 .container .lead{
        text-align: center;
        width: 90%;
        white-space: normal; /* Permite quebra de linha no texto */
        word-wrap: break-word;
      }
  
    .card {
        width: 90%; /* Ajusta a largura dos cards para 100% em telas pequenas */
        max-height: 30vh;
        margin-bottom: 100px;
      }
  
  
  
  }
  
  @media (max-width: 1399px) {
    h1 {
        font-size: 6vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
  
    p {
        font-size: 4vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
h1{
    font-size: 5.5rem;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
    
    #card-p1{
        height: 150px;
    
      }

      
      .circle {
        background-color: aqua;
        border-radius: 50%;
        width: 35vh;
        height: 34vh;
       
      }


    .section1 .container .display-4,   .section1 .container .lead{
        text-align: center;
        width: 90%;
        white-space: normal; /* Permite quebra de linha no texto */
        word-wrap: break-word;
      }
  
    .card {
        width: 90%; /* Ajusta a largura dos cards para 100% em telas pequenas */
        max-height: 30vh;
        margin-bottom: 100px;
      }
  
  
  }


  @media (min-width: 769px) {
    .navbar-collapse {
        display: flex;
        justify-content: center; /* Centraliza os itens horizontalmente na versão desktop */
        align-items: center; /* Centraliza os itens verticalmente */
        width: auto; /* Ajuste a largura conforme necessário */
        position: static; /* Remove o posicionamento fixo */
        background-color: transparent; /* Remove a cor de fundo */
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center; /* Centraliza os itens horizontalmente */
        margin: 0; /* Remove o espaço externo */
    }

    .navbar-nav .nav-item {
        margin-left: 1rem; /* Espaçamento entre os itens do menu */
        margin-right: 1rem; /* Espaçamento entre os itens do menu */
        margin-top: 30px;
    }

    .close-menu {
        display: none; /* Oculta o botão de fechar na versão desktop */
    }
}

  
  
  @media (max-width: 768px) {
    h1 {
        font-size: 6vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
  
    p {
        font-size: 4vw; /* Ajuste o tamanho da fonte conforme necessário */
    }

    h1{
        font-size: 4rem;
        font-family: "Cinzel", serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      }

      .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%; 
        height: 100%;
        width: 250px; 
        background-color: rgba(255, 255, 255, 0.856); 
        transition: right 0.3s ease;
        z-index: 1000; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
      }


    .navbar-collapse.show {
        right: 0;
    }
   .close-menu {
    position: absolute; 
    top: 10px;
    right: 10px; 
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1001; 
    display: block; 
  }
    .navbar-nav {
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
      padding-top: 20px; 
    }
    .navbar-nav .nav-item {
      margin-bottom: 1rem;
      text-align: center;
    }
    .nav-link {
        color: black; 
        font-size: 1.5rem;
    }
    .navbar-toggler {
        border-color: white;
    }
    .navbar-toggler-icon {
        background-color: white; 
    }

    #card-p1{
        height: 100px;
    
      }

      .circle {
        background-color: aqua;
        border-radius: 50%;
        width: 30vh;
        height: 30vh;
       
      }

      .section1 .container .display-4,   .section1 .container .lead{
        text-align: center;
        width: 90%;
        white-space: normal; /* Permite quebra de linha no texto */
        word-wrap: break-word;
      }
  
    .card {
        width: 90%; /* Ajusta a largura dos cards para 100% em telas pequenas */
        max-height: 30vh;
        margin-bottom: 100px;
      }

  

  
  }

    
  @media (max-width: 768px)  and ( orientation:landscape) {
    h1 {
        font-size: 6vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
  
    p {
        font-size: 4vw; /* Ajuste o tamanho da fonte conforme necessário */
    }

    h1{
        font-size: 4rem;
        font-family: "Cinzel", serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      }


      .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%; /* Mantém o menu fora da tela inicialmente */
        height: 100%;
        width: 250px; /* Largura do menu lateral */
        background-color: rgba(255, 255, 255, 0.856); /* Cor de fundo do menu lateral */
        transition: right 0.3s ease;
        z-index: 1000; /* Deve estar acima do overlay */
        display: flex;
        flex-direction: column;
        justify-content: flex-start; /* Mantém os itens no topo do menu */
        align-items: center;
      }


    .navbar-collapse.show {
        right: 0; /* Mostra o menu ao clicar no toggle */
    }
   .close-menu {
    position: absolute; /* Faz o botão "x" ter uma posição fixa */
    top: 10px; /* Define a distância do topo */
    right: 10px; /* Define a distância da direita */
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1001; /* Garante que o botão "x" fique acima do menu */
    display: block; /* Exibe o botão "x" na versão mobile */
  }
    .navbar-nav {
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
      padding-top: 20px; /* Adiciona um espaçamento no topo do menu */
    }
    .navbar-nav .nav-item {
      margin-bottom: 1rem;
      text-align: center;
    }
    .nav-link {
        color: black; 
        font-size: 1.5rem;
    }
    .navbar-toggler {
        border-color: white;
    }
    .navbar-toggler-icon {
        background-color: white; 
    }
      
    #card-p1{
        height: 100px;
    
      }

      #card-p2{
        min-height: 200vh;
      }

      .section1 .container .display-4,   .section1 .container .lead{
        text-align: center;
        width: 100%;
        white-space: normal; /* Permite quebra de linha no texto */
        word-wrap: break-word;
      }
  
    .card {
        width: 100%; /* Ajusta a largura dos cards para 100% em telas pequenas */
        max-height: 30vh;
        margin-bottom: 180px;
      }

  

  
  }
  
  @media (max-width: 500px) {
    h1 {
        font-size: 7vw; /* Ajuste o tamanho da fonte conforme necessário */
    }
  
    p {
        font-size: 5vw; /* Ajuste o tamanho da fonte conforme necessário */
 
  
  }
  h1{
    font-size: 2rem;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  }
  .section1{
    min-height: 200vh;
  }

  
  .section1 .container .display-4,   .section1 .container .lead{
    text-align: center;
    width: 80%;
    white-space: normal; /* Permite quebra de linha no texto */
    word-wrap: break-word;
  }
#card-p1{
    min-height: 150px;

  }

  #card-p2{
    min-height: 200vh;
  }

   
  .circle {
    background-color: aqua;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    top: -150%;
  }

  #card-p3{
    min-height: 400vh;
    margin-bottom: 200px;
  }

  .section-cards{
   
 
    display:flex;
align-items: center;  }

  .card {
    width: 95%; /* Ajusta a largura dos cards para 100% em telas pequenas */
    min-height: 30vh;
    margin-bottom: 700px;
  
    margin-top: 100px;
    
  }

  footer{
    margin-top: 100vh;
    
    
  }
}


  
@media (max-width: 500px) and ( orientation:landscape){
  h1 {
      font-size: 7vw; /* Ajuste o tamanho da fonte conforme necessário */
  }

  p {
      font-size: 5vw; /* Ajuste o tamanho da fonte conforme necessário */


}
h1{
  font-size: 2rem;
  font-family: "Cinzel", serif;
font-optical-sizing: auto;
font-weight: 900;
font-style: normal;
}
.section1{
  height: 120vh;
}


.section1 .container .display-4,   .section1 .container .lead{
  text-align: center;
  width: 80%;
  white-space: normal; /* Permite quebra de linha no texto */
  word-wrap: break-word;
}
#card-p1{
  height: 100px;

}

#card-p2{
  min-height: 350vh;
}

#card-p3{
  min-height: 400vh;
  margin-bottom: 200px;
}

.section-cards{

  display:flex;
align-items: center;  }

.card {
  width: 98%; /* Ajusta a largura dos cards para 100% em telas pequenas */
  min-height: 30vh;
  margin-bottom: 700px;

  margin-top: 100px;
  
}

#card-id{
  width: 98%; /* Ajusta a largura dos cards para 100% em telas pequenas */

  margin-bottom: 700px;

  margin-top: 100px;

}
footer{
  margin-top: 100vh;
  
  
}
}