
@font-face {
  font-family: 'Androgy Demo';
  src: url('caminho-para-sua-fonte/fonte.woff') format('woff'),
       url('/fonts/Androgy\ Demo.ttf') format('truetype');
}

@font-face {
  font-family: 'Assassin$';
  src: url('caminho-para-sua-fonte/fonte.woff') format('woff'),
       url('/fonts/Assassin$.ttf') format('truetype');
}

@font-face {
  font-family: 'Stalysta';
  src: url('caminho-para-sua-fonte/fonte.woff') format('woff'),
       url('/fonts/Stalysta.ttf') format('truetype');
}







nav{
  background-image: url(/IMG/HEADER/headerbackground.png);
  background-repeat: no-repeat;
  position: fixed;
  z-index: 999;

}
#navbarNav{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse {
  background-image: none !important;
  margin-top: 0px; 
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 80px; 
  background-color: rgba(0, 0, 0, 0.8); 
  position: fixed;
  width: 100%; 
  z-index: 999;
}
nav a{
  font-size: 1.5rem;
  margin-bottom: 2rem;

}

.close-menu {
  display: none; /
}

 
h1 {
  font-size: 2.5rem; 
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

h2 {
  font-size: 2rem; 
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

h3 {
  font-size: 1.75rem; 
}

h4 {
  font-size: 1.5rem; 
}

h5 {
  font-size: 1.25rem; 
}

h6 {
  font-size: 1rem; 
}

p {
  font-size: 1rem; 
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

  .section1 {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url('/IMG/pagina2/section1/background.png');
    background-size: cover;
    background-repeat: no-repeat;

  }
  #card-p2{
    height: 150vh;

  }

  .section1 .container {
    height: 100vh;
 color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "DM Serif Display", sans-serif;

  }
  #card-p1{
    max-width: 80%;
     background-image: url(/IMG/pagina2/section1/backgroundcard.png);
     background-size: cover;
     background-repeat: no-repeat;
      height: 20vh;
      display: flex;
      align-self: flex-end;
      position: relative;
      top: 60%;
      box-shadow: -20px 15px 0px rgb(255, 184, 30); 
      text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
      
  }
.section1 h1{

    position: relative;
    top: 40%;
    text-shadow: 0px 5px 10px rgba(0, 0, 0,0.9);
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
}

.section1 p{

  position: relative;
  top: 40%;
  text-shadow: 0px 5px 10px rgba(0, 0, 0,0.9);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;

}

.section1 h1{
    position: relative;
    top: 40%;
    
}
  .card-container {
    max-width: 80%;
    margin: 0 auto;
    align-self: flex-end;
    background-color: blue;
  }
  .card {
    height: 30vh;
  }
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }



  .section-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    min-height: 120vh;
  }
 
  
  .circle {
    background-color: aqua;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50%;
    z-index: -1;
    filter: drop-shadow(0px 0px 30px rgba(0,0,0, 0.4));
  }

  
 
  .circle-p1{
   background-image: url(/IMG/imgs_projeto/8subindo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .circle-p2{
   background-image: url(/IMG/imgs_projeto/7drone.jpg);
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
  }

  .card {
    width: 80%;
  
    border: none;
    margin-bottom: 25%;
  }

  .list-group-item{
    background-color: #e0e0e0;
  }
 .list-group li{
    background-color: #e0e0e0;
 }
    

 .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color:#e0e0e0;
  }

  .list-group-item {
    background-color: transparent; 
    border: none; 
    word-wrap: break-word;
    padding-left: 0; 
  }

  .list-group-item::marker {
    content: '• '; 
    font-size: 1.2em; 
    color: #000; 
  }

  footer p{
    font-size: 1rem;
    position: relative;
    top: 0%; 
     text-shadow: 0px 0px 0px rgba(0, 0, 0, 0); 
  }

  
  footer{
    background-color:#e28800;
    margin-top: 10%;
   
  }
  .icon-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px; /* 50% fora do footer */
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3); 
    z-index:999;
  }
  
  .video-circle {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  
@media (min-width: 1400px){
   
    h1 {
        font-size: 10vw; 
    }
  
    p {
        font-size: 6vw;
    }
    
    h1{
        font-size: 8rem;
    }
    
    #card-p1{
        height: 15vh;
    
      }

      .circle {
        background-color: aqua;
        border-radius: 50%;
        width: 35vh;
        height: 35vh;
        position: relative;
        top: -30%;
       
      }


    .section1 .container .display-4,   .section1 .container .lead{
        text-align: center;
        width: 90%;
        white-space: normal;
        word-wrap: break-word;
      }
  
    .card {
        width: 90%; 
        max-height: 30vh;
        margin-bottom: 100px;
      }
  
  
  
  }
  
  @media (max-width: 1399px) {
    h1 {
        font-size: 6vw; 
    }
  
    p {
        font-size: 4vw;
    }
h1{
    font-size: 5.5rem;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
    
    #card-p1{
        height: 150px;
    
      }

      .circle {
        background-color: aqua;
        border-radius: 50%;
        width: 35vh;
        height: 34vh;
       
      }
    .section1 .container .display-4,   .section1 .container .lead{
        text-align: center;
        width: 90%;
        white-space: normal; 
        word-wrap: break-word;
      }
  
    .card {
        width: 90%; 
        max-height: 30vh;
        margin-bottom: 100px;
      } 
  }


  @media (min-width: 769px) {
    .navbar-collapse {
        display: flex;
        justify-content: center; 
        align-items: center; 
        width: auto; 
        position: static; 
        background-color: transparent; 
    }

    .navbar-nav {
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 0; 
    }

    .navbar-nav .nav-item {
        margin-left: 1rem; 
        margin-right: 1rem; 
        margin-top: 30px;
    }

    .close-menu {
        display: none; 
    }
}

  
  
  @media (max-width: 768px) {
    h1 {
        font-size: 6vw; 
    }
  
    p {
        font-size: 4vw; 
    }

    h1{
        font-size: 4rem;
        font-family: "Cinzel", serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      }

      .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%; 
        height: 100%;
        width: 250px; 
        background-color: rgba(255, 255, 255, 0.856); 
        transition: right 0.3s ease;
        z-index: 1000; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
      }


    .navbar-collapse.show {
        right: 0;
    }
   .close-menu {
    position: absolute; 
    top: 10px;
    right: 10px; 
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1001; 
    display: block; 
  }
    .navbar-nav {
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
      padding-top: 20px; 
    }
    .navbar-nav .nav-item {
      margin-bottom: 1rem;
      text-align: center;
    }
    .nav-link {
        color: black; 
        font-size: 1.5rem;
    }
    .navbar-toggler {
        border-color: white;
    }
    .navbar-toggler-icon {
        background-color: white; 
    }

    #card-p1{
        height: 100px;
    
      }

      .circle {
        background-color: aqua;
        border-radius: 50%;
        width: 30vh;
        height: 30vh;
       
      }

      .section1 .container .display-4,   .section1 .container .lead{
        text-align: center;
        width: 90%;
        white-space: normal;
        word-wrap: break-word;
      }
  
    .card {
        width: 90%; 
        max-height: 30vh;
        margin-bottom: 100px;
      }


      footer p {
        word-break: break-word; 
        word-wrap: break-word;
        overflow-wrap: break-word;
     
      }
  
  }
    
  @media (max-width: 768px)  and ( orientation:landscape) {
    h1 {
        font-size: 6vw; 
    }
  
    p {
        font-size: 4vw; 
    }

    h1{
        font-size: 4rem;
        font-family: "Cinzel", serif;
      font-optical-sizing: auto;
      font-weight: 900;
      font-style: normal;
      }


      .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%; 
        height: 100%;
        width: 250px; 
        background-color: rgba(255, 255, 255, 0.856); 
        transition: right 0.3s ease;
        z-index: 1000; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start; 
        align-items: center;
      }


    .navbar-collapse.show {
        right: 0; 
    }
   .close-menu {
    position: absolute; 
    top: 10px; 
    right: 10px; 
    font-size: 2rem;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    z-index: 1001; 
    display: block;
  }
    .navbar-nav {
      display: flex;
      flex-direction: column;
      margin: 0;
      align-items: center;
      padding-top: 20px; 
    }
    .navbar-nav .nav-item {
      margin-bottom: 1rem;
      text-align: center;
    }
    .nav-link {
        color: black; 
        font-size: 1.5rem;
    }
    .navbar-toggler {
        border-color: white;
    }
    .navbar-toggler-icon {
        background-color: white; 
    }
      
    #card-p1{
        height: 100px;
    
      }

      #card-p2{
        min-height: 200vh;
      }

      .section1 .container .display-4,   .section1 .container .lead{
        text-align: center;
        width: 100%;
        white-space: normal; 
        word-wrap: break-word;
      }
  
    .card {
        width: 100%; 
        max-height: 30vh;
        margin-bottom: 180px;
      }



  footer p {
    word-break: break-word; 
    word-wrap: break-word;
    overflow-wrap: break-word;
 
  }
  }
  
  @media (max-width: 500px) {
    h1 {
        font-size: 7vw; 
    }
  

  h1{
    font-size: 2rem;
    font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  }
  .section1{
    min-height: 200vh;
  }

 
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%; 
    height: 100%;
    width: 250px; 
    background-color: rgba(255, 255, 255, 0.856); 
    transition: right 0.3s ease;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
  }


.navbar-collapse.show {
    right: 0;
}
.close-menu {
position: absolute; 
top: 10px;
right: 10px; 
font-size: 2rem;
background: none;
border: none;
color: black;
cursor: pointer;
z-index: 1001; 
display: block; 
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding-top: 1.5rem; 
}
.navbar-nav .nav-item {
  margin-bottom: 0.1rem;
  text-align: center;
}
.nav-link {
    color: black; 
    font-size: 1.0rem;
}
.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon {
    background-color: white; 
}
  
  .section1 .container .display-4,   .section1 .container .lead{
    text-align: center;
    width: 80%;
    white-space: normal; 
    word-wrap: break-word;
  }
#card-p1{
    min-height: 150px;

  }

  #card-p2{
    min-height: 200vh;
  }

   
  .circle {
    background-color: aqua;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    top: -150%;
  }

  #card-p3{
    min-height: 400vh;
    margin-bottom: 200px;
  }

  .section-cards{
    display:flex;
align-items: center;  }

  .card {
    width: 95%; 
    min-height: 30vh;
    margin-bottom: 700px;
  
    margin-top: 100px;
    
  }

  footer{
    margin-top: 100vh;
  }
}


  
@media (max-width: 500px) and ( orientation:landscape){
  h1 {
      font-size: 7vw; /* Ajuste o tamanho da fonte conforme necessário */
  }

  p {
      font-size: 5vw; 


}

footer p {
  word-break: break-word; 
  word-wrap: break-word;
  overflow-wrap: break-word;

}
h1{
  font-size: 2rem;
  font-family: "Cinzel", serif;
font-optical-sizing: auto;
font-weight: 900;
font-style: normal;
}
.section1{
  height: 120vh;
}
.navbar-collapse {
  position: fixed;
  top: 0;
  right: -100%; 
  height: 100%;
  width: 250px; 
  background-color: rgba(255, 255, 255, 0.856); 
  transition: right 0.3s ease;
  z-index: 1000; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
}


.navbar-collapse.show {
  right: 0;
}
.close-menu {
position: absolute; 
top: 10px;
right: 10px; 
font-size: 2rem;
background: none;
border: none;
color: black;
cursor: pointer;
z-index: 1001; 
display: block; 
}
.navbar-nav {
display: flex;
flex-direction: column;
margin: 0;
align-items: center;
padding-top: 1.5rem; 
}
.navbar-nav .nav-item {
margin-bottom: 0.1rem;
text-align: center;
}
.nav-link {
  color: black; 
  font-size: 1.0rem;
}
.navbar-toggler {
  border-color: white;
}
.navbar-toggler-icon {
  background-color: white; 
}

.section1 .container .display-4,   .section1 .container .lead{
  text-align: center;
  width: 80%;
  white-space: normal; 
  word-wrap: break-word;
}
#card-p1{
  height: 100px;
}

#card-p2{
  min-height: 350vh;
}

#card-p3{
  min-height: 400vh;
  margin-bottom: 200px;
}

.section-cards{
  display:flex;
align-items: center;  }

.card {
  width: 98%; 
  min-height: 30vh;
  margin-bottom: 700px;
  margin-top: 100px; 
}

#card-id{
  width: 98%; 
  margin-bottom: 700px;
  margin-top: 100px;
}
footer{
  margin-top: 100vh; 
}
}

@media (max-height:400px){
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%; 
    height: 100%;
    width: 200px; 
    background-color: rgba(255, 255, 255, 0.856); 
    transition: right 0.3s ease;
    z-index: 1000; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
  }


.navbar-collapse.show {
    right: 0;
}
.close-menu {
position: absolute; 
top: 10px;
right: 10px; 
font-size: 2rem;
background: none;
border: none;
color: black;
cursor: pointer;
z-index: 1001; 
display: block; 
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  align-items: center;
  padding-top: 2.0rem; 
}
.navbar-nav .nav-item {
  margin-bottom: -0.9rem;
  text-align: center;
  
}
.nav-link {
    color: black; 
    font-size: 0.7rem;
}
.navbar-toggler {
    border-color: white;
}
.navbar-toggler-icon {
    background-color: white; 
}
}